* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-blue-dark: #131921;
  --clr-orange-light: #febd69;
  --clr-orange-dark: #ff9900;
  --clr-orange-very-dark: #c77904;
  --clr-gray-dark: rgb(78, 78, 78);
  --clr-gray-light: #c6c6c6;
  --clr-red-dark: #b12704;
}
body {
  font-size: 16px;
  color: black;
  height: 100vh;
  font: Helvetica, Arial;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*
===============================
  Header  
===============================
*/
.header {
  grid-area: header;
  color: white;
}
/* navbar */
.navbar {
  background-color: var(--clr-blue-dark);
  height: 60px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .navbar_logo:hover,
.navbar__link:hover,
.navbar__cart:hover {
  border: 2px solid white;
  padding: 10px 0;
} */

.navbar__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}
.navbar__menu {
  font-size: 1.5rem;
  padding: 5px 7.5px;
  border: 1px solid var(--clr-gray-dark);
  border-radius: 4px;
}
.navbar__logo {
  margin-left: 20px;
  margin-right: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.navbar__logo img {
  height: 35px;
  object-fit: contain;
}
.navbar__search {
  flex: 1;
  display: flex;
  min-width: 200px;
}
.navbar__searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.navbar__searchInput:focus,
.navbar__searchInput:focus button {
  border: 3px solid var(--clr-orange-dark);
}
.navbar__searchBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--clr-orange-light);
}
.navbar__searchBtn:hover {
  background-color: var(--clr-orange-dark);
}
.navbar__searchBtn i {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.navbar__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  margin-left: 10px;
}
.navbar__link {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}
.navbar__linkLineOne {
  color: var(--clr-gray-light);
  font-size: 0.8rem;
}
.navbar__linkLineTwo {
  font-weight: bold;
}
.navbar__cart {
  width: 80px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 5px;
}
.navbar__cartImg {
  width: 35px;
  object-fit: contain;
  filter: grayscale(100%) invert(100%) contrast(0%) brightness(200%);
}
.navbar__infoCart {
  font-weight: bold;
}
.navbar__countItems {
  color: var(--clr-orange-dark);
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-15px, -15px);
}

/*
===============================
  Main  
===============================
*/
.content {
  grid-area: main;
}
/* --------------- */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
/* product */
.product {
  min-width: 250px;
  max-width: 350px;
  margin: 1rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.product__linkImage {
  background: #f7f7f7;
}
.product__image {
  width: 100%;
  margin-top: 1rem;
  object-fit: contain;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}
.product__brand {
  font-weight: bold;
  margin-bottom: 5px;
}
.product__name {
  font-weight: 400;
  margin-bottom: 5px;
}
.product__name:hover {
  color: var(--clr-orange-very-dark);
}
.product__rating {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: var(--clr-orange-dark);
}
.product__rating span:last-child {
  color: var(--clr-gray-dark);
}
.product__price {
  font-size: 1.5rem;
  font-weight: bold;
}
.product__price span {
  font-size: 1rem;
  font-weight: bold;
}

/*
===============================
  Product Details  
===============================
*/
.content-product {
  padding: 1rem;
}
.back-to-result {
  margin: 1rem auto;
}
/* --------------- */
.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.product-details__image {
  max-width: 350px;
  min-width: 200px;
  background: #f7f7f7;
}
.product-details__image img {
  width: 100%;
  object-fit: contain;
}
/* --------------- */
.details-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details-info__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.details-info__rating {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: var(--clr-orange-dark);
}
.details-info__rating span:last-child {
  color: var(--clr-gray-dark);
}
.details-info__price strong {
  color: var(--clr-red-dark);
}
/* --------------- */
.details-action {
  width: 200px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-gray-light);
}
.details-action li:nth-child(1) {
  font-size: 1rem;
  color: var(--clr-red-dark);
  margin-bottom: 5px;
}
.details-action li:nth-child(2) {
}
.details-action li:last-child {
  border-top: 1px solid var(--clr-gray-light);
  margin: 5px auto;
}
.details-action__success {
  color: green;
}
.details-action__error {
  color: var(--clr-red-dark);
}
.details-action__btn {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  border-radius: 2px;
  background: #f1cd71;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 0.3rem;
}
.details-action__btn:hover {
  background: #f1c554;
}

.details-action__btn-wish {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  border-radius: 2px;
  background: lightgray;
  border: 1px solid;
  border-color: var(--clr-gray-light);
  padding: 0.3rem;
}
.details-action__btn-wish:hover {
  background: rgb(187, 187, 187);
}

/*
===============================
  Cart  
===============================
*/
.cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 20px;
}

.cart__list {
  width: 70%;
}

.cart__list li:first-child,
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--clr-gray-light);
}

.cart-item__infoProduct {
  width: 100%;
  display: flex;
}
.cart-item__image {
  width: 100px;
}
.cart-item__image img {
  width: 100%;
  object-fit: contain;
}
.cart-item__infoDetail {
  margin-left: 1rem;
}
.cart-item__name {
  margin-bottom: 1rem;
}
.cart-item__qty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart-item__qtySelect {
  margin-left: 5px;
  padding: 0.2rem;
  border-radius: 5px;
}
.cart-item__delete-btn {
  font-size: 0.8rem;
  border-radius: 2px;
  background: lightgray;
  border: 1px solid;
  border-color: var(--clr-gray-light);
  padding: 0.3rem;
  margin-left: 10px;
}

/* ------------ */
.cart__action {
  width: 30%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-gray-light);
  padding: 1rem;
  font-size: 1rem;
}
.cart__totalPrice {
  font-size: 1.5rem;
  font-weight: bold;
}
.cart__btn-action {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  border-radius: 2px;
  background: #f1cd71;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 0.3rem;
}
.cart__btn-action:hover {
  background: #f1c554;
}

/*
===============================
  Signin  
===============================
*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 300px;
  padding: 2rem;
  border: 1px var(--clr-gray-light) solid;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.form__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form__email,
.form__password {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

.form__email label,
.form__password label {
  font-weight: bold;
  font-size: 0.8rem;
}
.form__email input,
.form__password input {
  border-radius: 2px;
  padding: 0.3rem;
  margin-top: 0.2rem;
}

.form__btn {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  border-radius: 2px;
  background: #f1cd71;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 0.3rem;
  cursor: pointer;
}
.form__btn:hover {
  background: #f1c554;
}

.form__link a:hover {
  color: var(--clr-orange-very-dark);
}
/*
===============================
  Footer  
===============================
*/
.footer {
  grid-area: footer;
}
